
h1{
  text-align: center;
  font-family: Tahoma, serif;
  color: black;
  padding-bottom: 5px;
}
h4{
  text-align: center;
  font-family: Courier,serif;
  font-weight: 300;
}
button{
  background-color: pink;
  color: white;
  font-size: 25px;
  border: none;
  padding: 12px;
  margin: 5px;
  border-radius:4px;
  animation: ease-in;
}
.topnav{
  background-color: pink;
  color: black;
  font-family: Courier,serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 150;
  font-size: 25px;
  margin: 0;
}
a{
  text-decoration: none;
  font-family: Tahoma, serif;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
}
.heading{
  background-image: url("https://i.pinimg.com/originals/43/3e/f9/433ef90a05c6af38aa99845def089e19.jpg");
  padding-bottom: 25px;
  padding-top: 25px;
}