
h1{
  text-align: center;
  font-family: Tahoma, serif;
  color: black;
}
h4{
  text-align: center;
  font-family: Courier,serif;
  font-weight: 300;
}
button{
  background-color: pink;
  color: white;
  font-size: 25px;
  border: none;
  padding: 12px;
  margin: 5px;
  border-radius:4px;
}
.topnav{
  text-align: center;
  background-color: gray;
  color: black;
  font-weight: 150;
}
 
